.App{
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1D1E28;
  background-image: url('./images/bg-desktop-dark.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.taskListContainer{
  width: 100%;
  max-width: calc(100%/3);
  margin-top: 100px;
}

.taskListContainer h1{
  color: white;
  letter-spacing: .8em;
  font-size: 45px;
}

.taskInput{
  width: 100%;
  margin-top: 30px;
  border-radius: 15px;
  background-color: #282B3D;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.taskInput input{
  width: 100%;
  font-size: 28px;
  padding: 20px;
  background: none;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.65) ;
}

@media screen and (max-width: 400px) {
  .taskListContainer{
    width: 100%;
    margin: 20px;
  }

  .taskListContainer h1{
    color: white;
    letter-spacing: .5em;
    font-size: 35px;
  }
}